<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>reverb</name>
    <displayName><![CDATA[Reverb]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Reverb is the best place anywhere to sell your guitar, amp, drums, bass, or other music gear.Built for and by musicians, our marketplace offers a broad variety of tools to help buy and sell, and has the lowest transaction fees of any online marketplace.]]></description>
    <author><![CDATA[Johan PROTIN]]></author>
    <tab><![CDATA[market_place]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>