<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>reverb</name>
	<displayName><![CDATA[Reverb]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Sync your inventory to and from Reverb, and streamline shipping.]]></description>
	<author><![CDATA[Johan PROTIN]]></author>
	<tab><![CDATA[market_place]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
